@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@700&family=Montserrat:wght@500&display=swap');


/*FOLLOW US*/
.footer_follow_us {
    width: 104px;
    height: 54px;
    float: left;
}

.footer_label_follow_us {
    width: 100px;
    height: 24px;

    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;

    display: block;
}

.footer_social_follow_us {
    width: 104px;
    height: 24px;

    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}