/*LOGO*/
.footer_label_logo {
    width: 117px;
    height: 60px;

    margin: 156px 150px 156px 100px;
    padding: 0;
    float: left;
}

.footer_label_logo span {
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 700;
    font-size: 40px;
}